.main {
    background-color: #5F9EA0;
    width:1450px;
    height: 600px;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.71);
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.71);
    margin-top: -40px;
    position: relative;

}

.btn-new {
    background-color: #2ecc71;
    color: #fff;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
    margin-top: 20px;
    margin-left: 1270px;
    height: 50px;
}

.btn-new:hover {
    background-color: #27ae60;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 16px 32px rgba(0, 0, 0, 0.6);
}

.carts{
    overflow-y: auto;
}
#tableCart{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: collapse;
}

#cart {
    width: 1450px;
    max-height: 300px;
    overflow-y: auto;
    border-collapse: collapse;
}

#cart td{
    padding: 8px;
    text-align: center;
}

#cart tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cart tr:nth-child(odd) {
    background-color: #fefefe;
}

#cart tr:hover {
    background-color: #ddd;
}

#cart th {
    border: 1px solid #000;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #5F9EA0;
    color: #fff;
    position: sticky;
}

#search {
    width: 500px; 
    box-sizing: border-box; 
    height: 40px;
    padding-left: 10px;
    background-image: url('../images/glass.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1px solid gray;
    background-size: 20px;
    background-position: center right 10px;
    transition: background 0.3s ease;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-right: 30px;
}

#custName {
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid gray;
    margin-left: 30px;
    border-radius: 5px;
    background-image: url('../images/user.png');
    background-size: cover;
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-top: 30px;
}

#custName:focus {
    outline: none;
    border: 2px solid #0096FF;
}

#search:focus {
    outline: none;
    border: 2px solid #0096FF;
}
.search-container {
    z-index: 1;
    width: 100%; 
    display: flex;
}

#cancel {
    position: absolute;
    margin-left: 1400px;
    width: 30px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-top: 30px;
    font-size: 16pt;
}

#cancel:hover {
    cursor: pointer;
}

#results {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid gray;
    background-color: #fefefe;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#results table {
    width: 100%;
    border-collapse: collapse;
}

#results th, #results td {
    padding: 8px;
    text-align: left;
}

#results th {
    background-color: #2ecc71;
    color: #fff;
    position: sticky;
}

#results tr:nth-child(even) {
    background-color: #f2f2f2;
}

#results td:hover {
    cursor: pointer;
}

#results tr:hover {
    background-color: #ddd;
}

#transID {
    margin-left: 30px;
    margin-top: 40px;
}

#cash, #terms {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#cash, #terms:hover {
    cursor: pointer;
}

.total {
    width: 300px;
    background-color: #5f9ea0;
    display: flex;
    flex-direction: column;
    color: #000;
    margin-left: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.row {
    width: 300px;
    background-color: #5f9ea0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.row h3 {
    margin-left: 10px;
    margin-top: 10px;
}

#terms {
    background-color: #2ecc71;
}

#terms:hover {
    background-color: #27ae60;
}

#cash {
    background-color: #e74c3c;
}

#cash:hover {
    background-color: #c0392b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #2ecc71;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 200px;
}
