.inputs{
    width: 400px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

.user-info{
    width: 400px;
    background-color: #5F9EA0;
    margin-left: 80px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 6px 7px 11px 0px rgba(0,0,0,0.68);
    display: inline-block;
    
}

#btnAdd, #btnUpdate{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    font-weight: bold;
    margin-top: 40px;
}

#btnUpdate:hover, #btnAdd:hover{
    background-color: #27ae60;
    cursor: pointer;
}

.info{
    display: inline-block;
    margin-right: 210px;
}

.add-employee{
    display: inline-block;
}

.add-employee h1{
    margin-left: 110px;
    margin-bottom: 40px;
    font-size: 48pt;
}

#roles{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
    background-color: #00695C;
    color: #fff;
    font-weight: bold;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: pink;
    opacity: 0.5;
    margin-bottom: 30px;
}

#error{
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 10pt;
    margin-right: 20px;
}

#closeError{
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    font-weight: 900;
    border: none;
}

.col-img{
    width: 20px;
    height: 20px;
}